/*COLOURS*/
:root {
  --dark-color: #5c3f64;
  --light-color: #dad1db;
  --contrast-color: #5c9999;
}

/*LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;

  min-width: 900px;
  min-height: 500px;
}

.left-page {
  display: grid;
  grid-template-rows: 4fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.left-page a {
  display: grid;
  align-content: space-between;
}

.bottom-links {
  align-content: end;
}

.maindashboarddiv {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-bottom: 50px;
  align-items: center;
}

.dashboarddiv {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-top: 10px;
  padding-bottom: 5px;
  align-content: center;
}

.right-page {
  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.upper-header {
  display: grid;
  grid-template-columns: 7% 68% 7% 7% 11%;
  align-items: center;
}

.lower-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  align-items: center;
}

.greeting {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.username {
  display: grid;
  align-self: center;
}

.main-content {
  display: grid;
  grid-template-columns: 75% 25%;
}

.your-projects {
  display: grid;
  grid-template-rows: 5% 95%;
  padding: 1em;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.rolling-content {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 1em;
  padding: 1em;
}

button {
  display: grid;
  justify-content: center;
  align-items: center;
}

.header i {
  display: grid;
  justify-content: center;
  align-items: center;
}

.single-friend {
  display: grid;
  grid-template-columns: 20% 80%;
}

.single-friend i {
  align-content: center;
}

/*COMPONENT STYLING */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

a {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.left-page {
  background-color: var(--dark-color);
  color: white;
}

.dashboarddiv:hover {
  color: var(--contrast-color);
}

.main-content {
  background-color: var(--light-color);
}

button {
  background-color: var(--dark-color);
  color: white;
  margin: 10px;
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-color);
  color: black;
}

.header {
  position: relative;
  box-shadow: 3px 3px 10px var(--dark-color);
}

.header i {
  font-size: 200%;
  color: var(--contrast-color);
}

.lower-header i {
  font-size: 280%;
}

.header i:hover {
  color: var(--dark-color);
}

.searchbar {
  border-radius: 10px;
  height: 30px;
  background-color: var(--light-color);
  padding-left: 10px;
}

#hello {
  font-size: 13px;
}

.greeting .username {
  font-size: 25px;
  font-weight: bold;
}

.ind-project {
  background-color: white;
  border-left: 5px solid var(--contrast-color);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px var(--dark-color);
}

.ind-project p {
  padding-left: 8px;
}

.project-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.project-text {
  font-size: 15px;
  padding-bottom: 15px;
}

.ind-project .project-icons {
  color: var(--contrast-color);
  display: grid;
  grid-template-columns: 80% 10% 10%;
  justify-items: end;
  align-items: end;
}

.ind-project i:hover {
  color: var(--dark-color);
}

.individual-announcements {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
  box-shadow: 3px 3px 10px var(--dark-color);
}

.announcements-heading {
  padding-bottom: 20px;
}

.single-announcement {
  border-bottom: 1px solid var(--contrast-color);
  border-top: 1px solid var(--contrast-color);
}

.announcement-name {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.announcement-text {
  font-size: 12px;
  padding-bottom: 15px;
}

.individual-friends {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
  box-shadow: 3px 3px 10px var(--dark-color);
}

.friends-heading {
  padding-bottom: 20px;
}

.single-friend {
  border-bottom: 1px solid var(--contrast-color);
  border-top: 1px solid var(--contrast-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.single-friend i {
  color: var(--dark-color);
  justify-items: center;
  padding-left: 3px;
}

.single-friend i:hover {
  color: var(--contrast-color);
}
