/*LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;

  min-width: 900px;
  min-height: 500px;
}

.left-page {
  display: grid;
  grid-template-rows: 4fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.left-page a {
  display: grid;
  align-content: space-between;
}

.bottom-links {
  align-content: end;
}

.maindashboarddiv {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-bottom: 50px;
  align-content: center;
}

.dashboarddiv {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-top: 10px;
  padding-bottom: 5px;
  align-content: center;
}

.right-page {
  display: grid;
  grid-template-rows: 20% 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.header {
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.upper-header {
  display: grid;
  grid-template-columns: 5% 70% 5% 5% 15%;
}

.lower-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.greeting {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.main-content {
  display: grid;
  grid-template-columns: 75% 25%;
}

.your-projects {
  display: grid;
  grid-template-rows: 5% 95%;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.rolling-content {
  display: grid;
  grid-template-rows: 50% 50%;
}

/*COMPONENT STYLING */
* {
  margin: 0;
  padding: 0;
}

/* button {
  height: 50px;
} */
